.zebra tr:nth-child(even) {
  background-color: #f2f3f3;
}

.experience-table {
  width: 100%;
  font-size: 1.05em;
  line-height: 1.4em;
  border-spacing: 0;
  table-layout: fixed;
  margin-bottom: 1em;
}

.experience-table td {
  padding: 0.2em 0.15em;
  vertical-align: top;
}

.experience-table .company,
.experience-table .degree {
  width: 35%;
  font-weight: bold;
}

.experience-table .role,
.experience-table .institution {
  width: 40%;
}

.experience-table .dates {
  width: 25%;
  text-align: left;
  color: gray;
}

.experience-table .advisor {
  font-size: 0.9rem;
  color: #555;
  padding-top: 0;
  padding-bottom: 1rem;
}
